# This is a comment line. All lines starting with '#' will be ignored.
printVar = 0
maxIter = 1000
orders = [1]
width = 5
futurePnts = 0
maxPan = None
stateBounds = None
pntBounds = None
sweepBack = True
eBounds = None
keepInterp = False
maxStateRepeat = None
nthreads = 7
makePos = True
doShuffle = False
redundantSwaps = False