# This is a comment line. All lines starting with '#' will be ignored.
# Equal signs are required. Whitespace is ignored.
# Arrays are specified with square brackets and commas.
# The following are the default values for the configuration file:

printVar = 0           # index for energy or property to print
maxiter = 1000         # maximum number of iterations
orders = [1]           # orders of derivatives to use
width = 5              # stencil width
futurePnts = 0         # number of future points to use
maxPan = None          # maximum pivots of stencil width
stateBounds = None     # bounds for states to use
pntBounds = None       # bounds for points to use
sweepBack = True       # whether to sweep backwards across points after reordering forwards
eBounds = None         # bounds for energies to use
eWidth = None          # width for valid energies to swap with current state at a point
interpolate = False    # whether to interpolate over nan or inf values
keepInterp = False     # whether to keep the interpolated energies and properties
nthreads = 1           # number of threads to use
makePos = False        # whether to make the properties positive
doShuffle = False      # whether to shuffle the points before reordering
maxStateRepeat = -1    # maximum number of times to repeat swapping an unmodified state
redundantSwaps = False # whether to allow redundant swaps of lower-lying states